.details-container {
  width: 80%;
  margin: auto;
  margin-top: 20px;
}
.container-img {
  width: 100%;
}

.container-img img {
  width: 100%;
  height: 10%;
}
#option_produit {
  width: 80%;
}
//input pour augmenter/diminuer la qtité
.quantite {
  border: rgb(223, 222, 222) 1px solid;
  border-radius: 2px;
  width: 95px;
  &:focus {
    font-weight: bolder;
    outline: none;
  }
}
/************** breakpoint tablet ************/
@media screen and (min-width: 768px) {
  .details-container {
    display: flex;
  }
  .container-img img {
    float: left;
    min-width: 320px;
    width: 100%;
    height: 100%;
  }
  .card-description {
    padding-left: 10px;
    padding-bottom: 20px;
    flex-wrap: wrap;
    max-width: 330px;
  }
  #option_produit {
    width: 245px;
  }
}

/************** breakpoint laptop ************/

@media screen and (min-width: 1024px) {
  .details-container {
    max-width: 990px;
  }
}

@media screen and (min-width: 2560px) {
  #page {
    max-width: 1590px;
    margin: auto;
  }
}
